/*body {
  min-height: 2000px;
  padding-top: 70px;
}*/
/*.navbar {
  background-color: #2196F3;
}*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
color: #2196F3;  /*Sets the text hover color on navbar*/
background-color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #2196F3; /*BACKGROUND color for active*/
background-color: #fff;
}

  .navbar-default {
    background-color: #2196F3;
    /*border-color: ;*/
}

  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: #262626;
   text-decoration: none;
  background-color: #66CCFF;  /*change color of links in drop down here*/
   }

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff; /*Change rollover cell color here*/
  }

.navbar-default .navbar-nav > li > a , .navbar .navbar-brand {
   color: white; /*Change active text color here*/
    }
/*.navbar .navbar-brand{
  color:#fff;
}*/
